{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book/page/1">Book</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a href="#" class='nav nav-link dropdown-toggle' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            Menu
          </a>
          <div class="dropdown-menu" ari-labelledby='navbarDropdown'>
            <div class="row row-cols-2">
              {% for i in context_processors_category %}
              <div class="col">
                <a href="{% url 'category_book_list' i.name %}" class='dropdown-item'>{{i.name}}</a>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </li>
      {% if user.profile_set.is_librarian or user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'report' %}">Report</a>
      </li>
      {% endif %}

      <li class='nav-item'>
        {% if user.is_authenticated %}
            <li class="nav-item">
              <div class="dropdown">
                <a href="#" class='nav nav-link dropdown-toggle' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                  @{{user.username}}
                </a>
                <div class="dropdown-menu" ari-labelledby='navbarDropdown'>
                    {% if user.profile_set.is_librarian or user.is_staff %}
                        <a href="{% url 'charge_book_confirm' %}" class='dropdown-item'>Confirm Returned Book</a>
                    {% endif %}
                    <a href="{% url 'user_list' user.username %}" class='dropdown-item' >My Book List</a>
                    <a href="{% url 'logout' %}" class='dropdown-item'>logout</a>
                </div>
              </div>
            </li>

        {% else %}
          <a href="{% url 'login' %}" class='nav-link'>Login</a>
        {% endif %}

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action='/search/'>
      <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>
  </div>
</nav>
